.gcRKRU{ /*아이템 컨테이너*/
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    cursor: pointer;
}

.cgePTp{ /*아이템 내부 컨테이너*/
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    padding: 16px 15px;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

.gPEthp{ /*사진 wrapper*/
    flex: 0 0 auto;
    width: 140px;
    height: 140px;
    min-height: 140px;
    position: relative;
}

.gMnRzx{ /*Image ami*/
    flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    background-size: 60px 60px;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.iamnls{ /*컨텐츠*/
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 0px;
    height: 100%;
    padding-left: 20px;
}

.fOVNCS{ /*컨텐츠 Info wrapper*/
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.kPmScS{  /*Info price*/
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 700;
    height: 27px;
    margin-bottom: 4px;
    line-height: 27px;
}

.fGfKPR{ /*Info type*/
    color: rgb(34, 34, 34);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fYtEsj{ /*Info basic/other*/
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    width: 212px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}